@font-face {
    font-family: "Roboto";
    src: url('../static/fonts/CV/Roboto-Regular.ttf') format("opentype");
}

@font-face {
    font-family: "Roboto-Thin";
    src: url('../static/fonts/CV/Roboto-Thin.ttf') format("opentype");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url('../static/fonts/CV/Roboto-Bold.ttf') format("opentype");
}

@font-face {
    font-family: "SourceSansPro";
    src: url('../static/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SourceSansPro";
    src: url('../static/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format("opentype");
    font-weight: 700;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}


.dark {
    background: #333333;
}

.gray {
    background: #4D4D4D;
}

.light {
    background: #999999;
}

body {
    font-family: "SourceSansPro", serif;
    color: #333333;
    font-size: 16px;
}

.navbar {
    font-family: "SourceSansPro", sans-serif;
}

p.thinfont-menu {
    font-family: "Roboto-Thin", serif;
    font-size: 40px;
    display: inline;
    color: #333333;
}

p.thinfont-sub {
    font-family: "SourceSansPro", serif;
    font-size: 12px;
    display: inline;
    color: #DC3522;
}

p.bodyfont-menu {
    font-family: "Roboto-Bold", serif;
    font-size: 40px;
    display: inline;
    color: #333333;
}

.navbar .navbar-list .navbar-item > a:hover {
    color: #DC3522;
    background: none;
}

.navbar .navbar-list .navbar-item > .active > a:hover {
    background: none;
}


.logo {
    background: url('../static/img/logo.png'); /* Your icon */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    width: 35px;
    height: 35px;
    display: inline-flex;
    right: 10px;
    border-radius: 50%;
    border-style: solid;
    border-color: #4D4D4D;
    border-width: 2px;
    bottom: 10px;
    position: absolute;

}

.logo::after {
    position: absolute; /* Positions psuedo element relative to .icon */
    width: 70%; /* Same dimensions as .icon */
    height: 70%;
    content: ""; /* Allows psuedo element to show */
    background: #DC3522; /* The color you want the icon to change to */
    mix-blend-mode: screen; /* Only apply color on top of white, use screen if icon is black */

}

.fa {
    font-size: 15px;
    padding: .5em;
    text-align: center;
    display: inline;
    border-radius: 50%;
    border-style: solid;
    border-color: #4D4D4D;
    border-width: 2px;
    color: #DC3522;
}

h4 {
  letter-spacing: .1rem;
    font-family: "Roboto-Bold";
}

h5 {
  letter-spacing: .1rem;
    font-family: "Roboto-Bold";
    font-size: 18px;
}
.container {
  width: 900px;
  max-width: 90%;
  overflow: auto;
  padding-bottom: 40px;
}

.containernav {
  width: 900px;
  max-width: 90%;
}

.header {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center; }
.main-description h1 {
  margin-bottom: 0px; }
.main-description p {
  margin-bottom: 0px; }
.main-description .fa {
  font-size: 22px;
  margin-top: 5px; }
.paper {
    margin-bottom: 20px;
    line-height: 1.2;}
.paper .title {
  /*text-transform: uppercase; */}
.paper p {
  margin-bottom: 2px }
.paper-buttons {
    margin-top: 2px }
.paper .button {
  display: inline-block;
  height: 20px;
  padding: 0 5px;
  font-weight: 100;
  line-height: 20px;
  margin-bottom: 0px;
  text-transform: none; }
.section-header {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  font-weight: 600; }
.docs-section {
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;}
.footer {
  position: relative;
  margin-top: -40px;
  /* negative value of footer height */
  height: 40px;
  clear: both;
}
.navbar {
  display: none; }
.title-subtitle h3 {
  margin-bottom: 0px; }
.title-subtitle h5 {
  color: rgba(0, 0, 0, 0.60); }
.image {
  text-align: center; }

/*  ================ Project styling  ================ */
.project-container {
  margin-bottom: 30px;
}
.project-image-container {
  border: 1px solid rgba(0,0,0,0.2);
  padding: 3px;
  transition: 0.3s;
}
.project-image-container:hover {
  transition: 0.3s;
}
.project-image-container:hover img {
  opacity: 0.4;
}
.project-caption {
  padding: 3px;
}

/* Larger than phone */
@media (min-width: 330px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .containernav {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 20px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #DC3522; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .containernav {
      width: 900px;
  max-width: 90%;
  margin: auto; }

  /* Popover */
  .popover.open {
    display: block;
  }
  .popover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    top: 92%;
    left: -50%;
    -webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
       -moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
            filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); }
  .popover-item:first-child .popover-link:after,
  .popover-item:first-child .popover-link:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .popover-item:first-child .popover-link:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px; }
  .popover-item:first-child .popover-link:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 11px;
    margin-left: -11px; }
  .popover-list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .popover-item {
    padding: 0;
    margin: 0; }
  .popover-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem; }
  .popover-item:first-child .popover-link {
    border-radius: 4px 4px 0 0; }
  .popover-item:last-child .popover-link {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 0; }
  .popover-link:hover {
    color: #fff;
    background: #33C3F0; }
  .popover-link:hover,
  .popover-item:first-child .popover-link:hover:after {
    border-bottom-color: #33C3F0; }
}



/* Larger than tablet */
@media (min-width: 400px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .containernav {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #DC3522; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .containernav {
      width: 900px;
  max-width: 90%;
  margin: auto; }

  /* Popover */
  .popover.open {
    display: block;
  }
  .popover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    top: 92%;
    left: -50%;
    -webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
       -moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
            filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); }
  .popover-item:first-child .popover-link:after,
  .popover-item:first-child .popover-link:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .popover-item:first-child .popover-link:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px; }
  .popover-item:first-child .popover-link:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 11px;
    margin-left: -11px; }
  .popover-list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .popover-item {
    padding: 0;
    margin: 0; }
  .popover-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem; }
  .popover-item:first-child .popover-link {
    border-radius: 4px 4px 0 0; }
  .popover-item:last-child .popover-link {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 0; }
  .popover-link:hover {
    color: #fff;
    background: #33C3F0; }
  .popover-link:hover,
  .popover-item:first-child .popover-link:hover:after {
    border-bottom-color: #33C3F0; }
}

.center {
  margin: auto;
  width: 50%;
}

ol {
  padding-left: 40px;
}

h4 {
    overflow: hidden;
}

h4:after {
    content:"";
    display: inline-block;
    height: 0;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 5px;
    border-top: 1px solid black;
}