{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}

<div style="max-width:700px;margin: 0 auto;font-size: 130%; line-height: 1.5;">

    <h1>about</h1>

    <br>

    <div style="column-count: 2; text-align: center;">
        <div style="column-span: 0;">
            <a class="con" href="{{ url_for('static', filename='resume.pdf') }}">
                <h2 class="con" style="display: inline;">resume</h2>
            </a>
        </div>
        <div style="column-span: 1;">
            <a class="con" href="{{ url_for('static', filename='cv.pdf') }}">
                <h2 class="con" style="display: inline;">cv</h2>
            </a>
        </div>
    </div>

    <br>

    {{ post | safe}}

</div>
{% endblock %}