{% extends "base.html" %}
{% set active_page = "papers" %}
{% block content %}

For an always up-to-date list of publications see my <a href="https://scholar.google.com/citations?user=saYhrnwAAAAJ&hl=en" target="_blank">Google Scholar</a> page.

<div style="height: 10px;"></div> <!-- Spacer -->

<h4><span style="color: #DC3522;">Pub</span>lished Papers</h4>

<div class="paper">
  <p class="title">
    <b>Estimating Vote Choice with Approximate Poisson-Binomial Logistic Regression</b>
  </p>
  <p><b>Fishman, N.</b> and Rosenman, R.</p>
  <p><i>Advances in Neural Information Processing Systems 37, Workshop on Optimization for Machine Learning, 2024</i></p>
  <div class="paper-buttons"></div>
</div>

<div class="paper">
  <p class="title">
    <b>The Fragility of Fairness: Causal Sensitivity Analysis for Fair Machine Learning</b>
    <a class="button" href="https://arxiv.org/pdf/2410.09600" target="_blank">PDF</a>
  </p>
  <p>Fawkes, J.,* <b>Fishman, N.</b>,* Andrews, A., Lipton, Z.</p>
  <p><i>Advances in Neural Information Processing Systems 37, 2024</i></p>
  <div class="paper-buttons"></div>
</div>

<div class="paper">
  <p class="title">
    <b>Metropolis sampling for constrained diffusion models</b>
    <a class="button" href="https://proceedings.neurips.cc/paper_files/paper/2023/file/c47bfcc8e2eccdc540fad1e25f13aa4d-Paper-Conference.pdf" target="_blank">PDF</a>
  </p>
  <p><b>Fishman, N.</b>, Klarnar, L., Mathieu, E., Hutchinson, M., De Bortoli, V.</p>
  <p><i>Advances in Neural Information Processing Systems 36, 2023</i></p>
  <div class="paper-buttons"></div>
</div>

<div class="paper">
  <p class="title">
    <b>Human mobility networks reveal increased segregation in large cities</b>
    <a class="button" href="https://www.nature.com/articles/s41586-023-06757-3" target="_blank">PDF</a>
  </p>
  <p>Nilforoshan, H.,* Looi, W.,* Pierson, E.,* Villanueva, B., <b>Fishman, N.</b>, Chen, Y., Sholar, J., Redbird, B., Grusky, D., Leskovec, J.</p>
  <p><i>Nature 624 (7992), 586-592, 2023</i></p>
  <div class="paper-buttons"></div>
</div>

<div class="paper">
  <p class="title">
    <b>Diffusion models for constrained domains</b>
    <a class="button" href="https://openreview.net/pdf?id=xuWTFQ4VGO" target="_blank">PDF</a>
  </p>
  <p><b>Fishman, N.</b>, Klarner, L., De Bortoli, E., Mathieu, M., Hutchinson, M.</p>
  <p><i>Transactions on Machine Learning Research, 2023</i></p>
  <div class="paper-buttons"></div>
</div>

<div class="paper">
  <p class="title">
    <b>Change we can believe in: Structural and content dynamics within belief networks</b>
    <a class="button" href="https://onlinelibrary.wiley.com/doi/epdf/10.1111/ajps.12626" target="_blank">PDF</a>
  </p>
  <p><b>Fishman, N.</b> and Davis, N. T.</p>
  <p><i>American Journal of Political Science 66 (3), 648-663, 2022</i></p>
  <div class="paper-buttons"></div>
</div>

<div class="paper">
  <p class="title">
    <b>Should attention be all we need? The epistemic and ethical implications of unification in machine learning</b>
    <a class="button" href="https://dl.acm.org/doi/abs/10.1145/3531146.3533206" target="_blank">PDF</a>
  </p>
  <p><b>Fishman, N.</b>, Hancox-Li, L.</p>
  <p><i>Proceedings of the 2022 ACM Conference on Fairness, Accountability, and Transparency, 2022</i></p>
  <div class="paper-buttons"></div>
</div>          

<div class="paper">
    <p class="title">
      <b>Making (Global) Criminal Procedure: Empire, the End of Justice, and the Rise of Efficiency</b>
      <a class="button" href={{ url_for('static', filename='papers/thesis.pdf') }} target="_blank">PDF</a>
    </p>
    <p><b>Fishman, N.</b></p>
    <p><i>Honors Thesis Submitted to the Stanford University Department of Sociology, 2021</i></p>
    <div class="paper-buttons"></div>
</div>

<div class="paper">
    <p class="title">
      <b>Systematic characterization of generative models for de novo design of regulatory DNA</b>
      <a class="button" href="https://icml-compbio.github.io/icml-website-2020/2020/papers/WCBICML2020_paper_46.pdf" target="_blank">PDF</a>
    </p>
    <p><b>Fishman, N.</b>, Shrikumar, A., Marinov, G., Kundaje, A.</p>
    <p><i>(Spotlight) International Conference on Machine Learning, Computational Biology Workshop, 2020</i></p>
    <div class="paper-buttons"></div>
</div>

<div style="height: 10px;"></div> <!-- Spacer -->

<h4><span style="color: #DC3522;">Wor</span>king Papers</h4>

<div class="paper">
    <p class="title">
      <b>Partisan Disparities in the Funding of Science in the United States</b>
      <i>(In preparation for submission to Science)</i>
    </p>
    <p>Furnas, Z., <b>Fishman, N.</b>, Hammond, B., Rosenstiel, L., Wang, D.</p>
    <p><i></i></p>
    <div class="paper-buttons"></div>
</div>

<div class="paper">
    <p class="title">
      <b>Monotone Interference</b>
    </p>
    <p><b>Fishman, N.</b> and Imai, K.</p>
    <p><i></i></p>
    <div class="paper-buttons"></div>
</div>

<div class="paper">
    <p class="title">
      <b>The False Promise of Controlling False Positives: Ephemerality and the “Replication Crisis” in Observational Studies</b>
    </p>
    <p>Ben-Menachem, J.,* <b>Fishman, N.,*</b> Galper, G.*</p>
    <p><i></i></p>
    <div class="paper-buttons"></div>
</div>

<div class="paper">
    <p class="title">
      <b>Estimating Vote Choice with Approximate Poisson-Binomial Logistic Regression</b>
    </p>
    <p><b>Fishman, N.</b> and Rosenman, R.</p>
    <p><i></i></p>
    <div class="paper-buttons"></div>
</div>

<div class="paper">
    <p class="title">
      <b>Principled Models for Analyzing Max-Diff Surveys</b>
    </p>
    <p><b>Fishman, N.</b></p>
    <p><i></i></p>
    <div class="paper-buttons"></div>
</div>

<div class="paper">
    <p class="title">
      <b>SimDNA: a library for simulating regulatory genomic sequences</b>
    </p>
    <p>Shrikumar, A.,* <b>Fishman, N.*</b>, Kundaje, A.</p>
    <p><i></i></p>
    <div class="paper-buttons"></div>
</div>

{% endblock %}