{% extends "base.html" %}
{% set active_page = "research" %}
{% block content %}

<h4><span style="color: #DC3522;">Pub</span>lished Papers</h4>


<div class="paper">
    <p class="title">
      <b>Making (Global) Criminal Procedure: Empire, the End of Justice, and the Rise of Efficiency</b>
      <a class="button" href={{ url_for('static', filename='papers/thesis.pdf') }} target="_blank">PDF</a>
    </p>
    <p><b>Fishman, N.</b></p>
    <p><i>Honors Thesis Submitted to the Stanford University Department of Sociology, 2021</i></p>
    <div class="paper-buttons"></div>
</div>

<div class="paper">
    <p class="title">
      <b>Change We Can Believe In: Structural and Content Dynamics within Belief Networks</b>
      <a class="button" href="https://onlinelibrary.wiley.com/doi/epdf/10.1111/ajps.12626" target="_blank">PDF</a>
    </p>
    <p><b>Fishman, N.</b> and Davis, N. T.</p>
    <p><i>American Journal of Political Science, 2020</i></p>
    <div class="paper-buttons"></div>
</div>

<div class="paper">
    <p class="title">
      <b>Systematic characterization of generative models for de novo design of regulatory DNA</b>
      <a class="button" href="https://icml-compbio.github.io/icml-website-2020/2020/papers/WCBICML2020_paper_46.pdf" target="_blank">PDF</a>
    </p>
    <p><b>Fishman, N.</b>, Shrikumar, A., Marinov, G., Kundaje, </p>
    <p><i>International Conference on Machine Learning, Computational Biology Workshop, 2020</i></p>
    <div class="paper-buttons"></div>
</div>

<div class="paper">
    <p class="title">
      <b>Fleeing from Terror: Considering Safety When Designing Public Spaces in the Age of Mass Murder</b>
      <a class="button" href="https://ojs.stanford.edu/ojs/index.php/sjph/article/view/1212/1134" target="_blank">PDF</a>
    </p>
    <p><b>Fishman, N.</b></p>
    <p><i>Stanford Journal of Public Health 7(1), 2018</i></p>
    <div class="paper-buttons"></div>
</div>

<h4><span style="color: #DC3522;">Wor</span>king Papers</h4>

<div class="paper">
    <p class="title">
      <b>The Segregation of Interaction</b>
    </p>
    <p>Looi, W.,* Pierson, E.,* Villanueva, B., <b>Fishman, N.,</b> Chen, Y., Sholar, J., Redbird, B., Grusky, D., Lescovec, J.</p>
    <p><i></i></p>
    <div class="paper-buttons"></div>
</div>

<div class="paper">
    <p class="title">
      <b>Deep Ecological Inference</b>
      <a class="button" href="https://openreview.net/pdf?id=mxfRhLgLg_" target="_blank">PDF</a>
    </p>
    <p><b>Fishman, N.</b> and McAuliffe, C.</p>
    <p><i></i></p>
    <div class="paper-buttons"></div>
</div>

<div class="paper">
    <p class="title">
      <b>SimDNA: a library for simulating regulatory genomic sequences</b>
    </p>
    <p>Shrikumar, A.,* <b>Fishman, N.*</b></p>
    <p><i></i></p>
    <div class="paper-buttons"></div>
</div>

{% endblock %}